<template>
  <div id="Wrapper">
    <div class="container">
        <div class="commonBox">
          <h2>Upload file</h2>
          <FileUploader></FileUploader>
        </div>
        <div class="commonBox">
          <h2>Test results</h2>
          <ul>
            <li v-for="(file, index) in files" :key="file">
              <a :href="api_url + '/test/export_result/' + file">{{file}}</a>
              <v-btn icon color="red" v-on:click="deleteFile(file, index)">
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </li>
          </ul>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import FileUploader from '@/components/FileUploader'
// import router from '../router'

export default {
  name: 'Dashboard',
  components: {
    FileUploader
  },
  data () {
    return {
      api_url: process.env.VUE_APP_API_URL,
      files: {
        
      }
    }
  },
  methods: {
    getFiles: function() {
      axios.get(process.env.VUE_APP_API_URL + '/test').then(res => {
        this.files = res.data 
      })
    },
    download: function(filename){
      const link = document.createElement('a')
      link.href = process.env.VUE_APP_API_URL + '/test/export_result/' + filename
      link.setAttribute('download', filename)
      link.click()
      URL.revokeObjectURL(link.href)
    },
    deleteFile: function(filename) {
      if (confirm("Xóa testdata và tất cả submission của bài test này?"))
        axios.delete(process.env.VUE_APP_API_URL + '/test/delete/' + filename).then(res => {
          if (res.data.error)
            console.log(res.data.error)
          else 
            console.log(res.data.message)
          this.getFiles()
          this.$forceUpdate()
        })
      }
  },
  beforeMount() {
    this.getFiles()
  }
}
</script>