<template>
    <div class="container">
        <div id='form'>
            <form id='upload-form' v-on:submit.prevent>
                <p>{{placeholder}}</p>
                <p>VD: 02252020_MUSHRA_1.zip</p>
                <v-file-input v-model="file"></v-file-input>
                <div>
                    <v-btn class='button' v-on:click="uploadForm()">Submit</v-btn>
                </div>
            </form>
        </div>
    </div>

</template>

<script>
import axios from 'axios'

export default {
  name: 'FileUploader',
  data () {
    return {
      message: '',
      file: '',
      placeholder: 'Tên file có dạng MMDDYYYY_(MUSHRA/MOS/INT)_(Số thứ tự).zip'
    }
  },
  methods: {
    uploadForm: function() {
        let formData = new FormData()
        formData.append('file', this.file)

        axios.post(process.env.VUE_APP_API_URL + "/test/upload", formData,{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
        ).then(res => {
          if (res.data.error){
            this.message = res.data.error
          }
          else{
            this.message = res.data.message
          }
          alert(this.message)
          location.reload()
        })
    },
    onFileChange: function(){
      this.file = this.$refs.file.files[0];
    }
  }
}
</script>