<template>
    <div id="Wrapper">
        <div id="TestTitle" class="commonBox">
            INTELLIGIBILITY TEST
        </div>
        <div id="infoForm" v-if="!isInfoExisted">
            <div class="commonBox">
                <h3>{{message}}</h3>
                <div>
                    <form v-on:submit.prevent="submitInfo()">
                        <v-text-field v-model="email" label="Email" :rules="rules.email" hide-details="auto"></v-text-field>
                        <v-text-field v-model="test_name" label="Test name" :rules="rules.testid"></v-text-field>
                        <v-btn small type="submit">Submit</v-btn>
                    </form>
                </div>
                <br/>
            </div>
        </div>
        <!-- info existed -->
        <div v-else>
            <div class="commonBox">
                <div v-if="isLoadingTest">
                    <img src="@/img/ajax-loader.gif"/>
                </div>
                <div v-else>
                    <IntPage
                        v-bind:requirement_1="testData.requirement_1"
                        v-bind:requirement_2="testData.requirement_2"
                        v-bind:text="singleTestData.text"
                        v-bind:scoreLabel="testData.score_label"
                        v-bind:singleTestData="singleTestData"
                        v-bind:currentIndex="currentIndex"
                        v-bind:numTest="testData.num_tests"
                        v-bind:volume="volume"
                        v-bind:testResult="test_result[currentIndex]"
                        v-bind:email="email"
                        v-bind:testName="test_name">
                    </IntPage>
                </div>
            </div>
            <div id="TestControls" class="commonBox">
                <v-btn @click="onPrevButtonClick()" :disabled="currentIndex == 0" id="BtnPrevTest" small>Previous Test</v-btn>
                <v-btn @click="onNextButtonClick()" id="BtnNextTest" small>Next Test</v-btn>
            </div>
            <div id="TestControls" class="commonBox">
                <div id="slider" style="float:left; width: 90%">
                    <v-slider
                        hide-details="true"
                        v-model="volume"
                        thumb-label
                    ></v-slider>
                </div>
                <div style="float:right">
                    <v-icon style="margin-right:10px">mdi-volume-high</v-icon>
                    <v-icon>mdi-repeat</v-icon>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
import axios from 'axios'
import IntPage from '@/components/IntPage'


function validateEmail(email) {
    var re = /^[a-z][a-z0-9_.]{5,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/
    return re.test(String(email).toLowerCase());
}

export default {
    name: 'Int', 
    components: {
        IntPage
    },
    data() {
        return {
            rules: {
                email: [
                    value => !!value || 'Required.',
                    value => (value && validateEmail(value)) || 'Invalid Email'
                ],
                testid: [
                    value => !!value || 'Required.',
                ]
            },
            email: '',
            test_name: '',
            isLoadingTest: true,
            isInfoExisted: false,
            message: 'Please enter Your Email and Test ID !',
            testData: {},
            singleTestResult: [],
            singleTestData: [],
            currentIndex: 0,
            volume: 50,
            test_result: [],
        }
    },
    methods: {
        submitInfo: function() {
            axios.post(process.env.VUE_APP_API_URL + '/submission', {
                email: this.email,
                test_name: this.test_name,
                test_type: 'INT'
            }).then((res) => {
                if (res.data.error)
                    this.message = res.data.error + ". Please try again !"
                else {
                    this.message = "Success !"
                    this.isInfoExisted = true
                    this.currentIndex = res.data.last_index
                    this.test_result = res.data.test_result
                    this.singleTestResult = this.test_result[this.currentIndex]
                    
                    axios.get((process.env.VUE_APP_API_URL + '/test/' + this.test_name)).then((res) => {
                        this.testData = res.data
                        this.singleTestData = this.testData.test_sets[this.currentIndex]
                        this.isLoadingTest = false;
                    })
                }
            })
        },
        updateCurrentIndex: function() {
            this.singleTestResult = this.test_result[this.currentIndex]
            this.singleTestData = this.testData.test_sets[this.currentIndex]
        },
        onNextButtonClick: function() {
            if (this.currentIndex == this.testData.num_tests - 1){
                if (confirm("That was the last test. Do you want to finish?")){
                    axios.post(process.env.VUE_APP_API_URL + '/update_result', {
                        email: this.email,
                        test_name: this.test_name,
                        new_result: this.singleTestResult,
                        last_index: this.currentIndex,
                        is_finished: true
                    }).then((res) => {
                        if (res.data.error)
                            console.log(res.data.error)
                        else {
                            location.reload(true)
                        }
                    })
                }
            }
            else{
                this.currentIndex++;
                this.updateCurrentIndex();
            }
        },
        onPrevButtonClick: function() {
            this.currentIndex--;
            this.updateCurrentIndex();
        }
    }
}
</script>
