<template>
    <div>
        <div id="TestHeading"> 
            {{singleTestData.name + ' (' + (currentIndex + 1) + ' of ' + numTest + ')'}} 
        </div>
        <v-btn small width=100 @click="onPlayClick()">{{isPlaying !== null ? 'Stop' : 'Play'}}</v-btn>
        <br/> <br/>
        <h3>{{requirement_1}}</h3>
        <div style="margin-left: 150px; margin-right: 150px">
            <v-text-field
                class="centered-input"
                @change="updateResult()"
                v-model="result[0]"
                :prefix="parsed_text[0]"
                :suffix="parsed_text[1]">
            </v-text-field>
        </div>
        <v-divider></v-divider>
        <br/>
        <h3>{{requirement_2}}</h3>
        <v-container grid-list-md text-xs-center>
            <div style="display: flex; flex-direction: column; align-items: center">
                <v-radio-group v-model="result[1]" @change="updateResult()">
                    <div v-for="(label, index) in scoreLabel" :key="index">
                        <v-radio :label="label" :value="index + 1"></v-radio>
                    </div>
                </v-radio-group>
            </div>
        </v-container>
    </div>
</template>

<script>
import axios from 'axios'

function parse_text(str){
    return str.split('…')
}


export default {
    name: 'IntPage', 
    props: ['scoreLabel', 'requirement_1', 'requirement_2', 'singleTestData', 'currentIndex', 'numTest',
            'volume', 'testResult', 'email', 'testName', 'text'],
    data() {
        return {
            result: this.testResult,
            audio: [],
            audioURL: [],
            isPlaying: null,
            parsed_text: parse_text(this.text)
        }
    },
    methods: {
        updateResult: function() {
            axios.post(process.env.VUE_APP_API_URL + '/update_result', {
                email: this.email,
                test_name: this.testName,
                new_result: this.result,
                last_index: this.currentIndex,
                is_finished: false
            }).then((res) => {
                if (res.data.error)
                    console.log(res.data.error)
            })
        },
        updateAudioURL: function() {
            this.audioURL = []
            for (let i = 0; i < this.singleTestData.files.length; i++)
                this.audioURL.push(process.env.VUE_APP_API_URL + '/get_audio/' + this.testName + '/' + this.singleTestData.files[0])

            this.isPlaying = null
        },
        updateAudio: function() {
            this.audio = []
            for (let i = 0; i < this.audioURL.length; i++){
                var sound = document.createElement('audio')
                sound.src = this.audioURL[i]
                sound.onended = () => {
                    this.isPlaying = null
                }
                this.audio.push(sound)
            }
        },
        stopAudio: function(index) {
            this.audio[index].pause();
            this.audio[index].load();
            this.isPlaying = null;
        },
        onPlayClick: function() {
            if (this.isPlaying !== null)
                this.stopAudio(0)
            else{
                this.isPlaying = 0
                this.audio[0].play()
            }
        }
    },
    created: function() {
        this.updateAudioURL()
    },
    mounted: function(){
        this.updateAudio()
    },
    watch: {
        testResult: function(newValue) {
            this.result = newValue
        },
        singleTestData: function(){
            for (let i = 0; i < this.audio.length; i++)
                this.stopAudio(i)

            this.updateAudioURL()
            this.updateAudio()
        },
        volume: function(newValue) {
            for (let i = 0; i < this.audio.length; i++)
                this.audio[i].volume = 1.0 * newValue / 100
        }
    }
}
</script>

<style scoped>
.centered-input >>> input {
    text-align: center
}
</style>