<template>
    <div id="Wrapper">
        <div class="row">
          <div class="commonBox">
            <div class="col-md-6 mt-5 mx-auto">
                <form v-on:submit.prevent="login">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <v-text-field
                      v-model="username"
                      label="Username">
                    </v-text-field>
                    <v-text-field
                      type="password"
                      v-model="password"
                      label="Password">
                    </v-text-field>
                    
                    <v-btn type="submit">Sign in</v-btn>
                    <h3> {{error}} </h3>
                </form>
            </div>
          </div>
        </div>
    </div>

</template>

<script>
import axios from 'axios'
import router from '../router'
import EventBus from './EventBus'

export default {
  name: 'Login',
  data () {
    return {
      error: '',
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      axios.post(process.env.VUE_APP_API_URL + '/admin/login', {
        username: this.username,
        password: this.password
      }).then(res => {
        this.username = ''
        this.password = ''
        if (res.data.error){
          this.error = res.data.error 
          localStorage.removeItem('token')
        }
        else {
          localStorage.setItem('token', res.data.token)
          router.push({ name: 'Dashboard' })
        }
      })
      this.emitMethod()
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    }
  }
}
</script>