<template>
  <div class="container">
    <button v-on:click="logout">Logout</button>
  </div>
</template>

<script>
import EventBus from './EventBus'
import router from '../router'

export default {
  name: 'Logout',
  data () {
    return {

    }
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      router.push({name: 'Login'})
      this.emitMethod()
    },
    emitMethod () {
      EventBus.$emit('logged-out', 'loggedout')
    }
  }
}
</script>