<template>
    <div>
        <div id="TestHeading"> 
            {{singleTestData.name + ' (' + (currentIndex + 1) + ' of ' + numTest + ')'}} 
        </div>
        <h3> 
            {{requirement}}
        </h3>
        <div v-if="isTextExist"> 
            {{singleTestData.text}}
        </div>
        <table id="TestTable">
            <div>
                <tr>
                    <td class="testItem" style="width:75px">Reference</td>
                    <td class="testItem"><v-btn width=75 @click.prevent="onPlayClick(0)" :disabled="!isReferenceExist">{{(isPlaying === 0) ? 'Stop' : 'Play'}}</v-btn></td>
                    <td ><img class="testItem" id="ScaleImage" src="@/img/scale_abs.png"/></td>
                </tr>
            </div>
            <div v-for="(file, index) in singleTestData.files" v-bind:key="index">
                <tr>
                    <td class="testItem" style="width:75px">Audio {{index + 1}}</td>
                    <td class="testItem"><v-btn width=75 @click.prevent="onPlayClick(index + 1)">{{(isPlaying === index + 1) ? 'Stop' : 'Play'}}</v-btn></td>
                    <td class="testItem" style="width: 420px">
                        <v-slider
                            @change="updateResult()"
                            hide-details="true"
                            v-model="result[audioPermutation[index]]"
                        ></v-slider>
                    </td>
                    <td class="testItem">
                        <v-text-field 
                            readonly 
                            v-model="result[audioPermutation[index]]"
                            hide-details="true">
                        </v-text-field>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'MushraPage', 
    props: ['requirement', 'singleTestData', 'currentIndex', 'numTest', 'volume', 'testResult', 'audioPermutation', 'email', 'testName'],
    data() {
        return {
            result: this.testResult,
            isReferenceExist: this.singleTestData.reference != '',
            isTextExist: this.singleTestData.text != '',
            audio: [],
            audioURL: [],
            isPlaying: null,
        }
    },
    methods: {
        updateResult: function() {
            axios.post(process.env.VUE_APP_API_URL + '/update_result', {
                email: this.email,
                test_name: this.testName,
                new_result: this.result,
                last_index: this.currentIndex,
                is_finished: false
            }).then((res) => {
                if (res.data.error)
                    console.log(res.data.error)
            })
        },
        updateAudioURL: function() {
            this.audioURL = []
            this.audioURL.push(process.env.VUE_APP_API_URL + '/get_audio/' + this.testName + '/' + this.singleTestData.reference)
            for (let i = 0; i < this.singleTestData.files.length; i++)
                this.audioURL.push(process.env.VUE_APP_API_URL + '/get_audio/' + this.testName + '/' + this.singleTestData.files[this.audioPermutation[i]])

            this.isPlaying = null
        },
        updateAudio: function() {
            this.audio = []
            for (let i = 0; i < this.audioURL.length; i++)
                if (i != 0 || this.isReferenceExist){
                    var sound = document.createElement('audio')
                    sound.src = this.audioURL[i]
                    sound.onended = () => {
                        this.isPlaying = null
                    }
                    this.audio.push(sound)
                }
                else{
                    this.audio.push(null)
                }
        },
        stopAudio: function(index) {
            this.audio[index].pause();
            this.audio[index].load();
            this.isPlaying = null;
        },
        onPlayClick: function(index) {
            if (this.isPlaying !== index){
                for (let i = 0; i < this.audio.length; i++)
                    if (i != 0 || this.isReferenceExist)
                        this.stopAudio(i)
                this.isPlaying = index
                this.audio[index].play()
            }
            else{
                this.stopAudio(index)
            }
        }
    },
    created: function() {
        this.updateAudioURL()
    },
    mounted: function(){
        this.updateAudio()
    },
    watch: {
        testResult: function(newValue) {
            this.result = newValue
        },
        singleTestData: function(newValue){
            for (let i = 0; i < this.audio.length; i++)
                if (i != 0 || this.isReferenceExist)
                    this.stopAudio(i)

            this.isReferenceExist = (newValue.reference != '')

            this.updateAudioURL()
            this.updateAudio()
        },
        volume: function(newValue) {
            for (let i = 0; i < this.audio.length; i++)
                if (i != 0 || this.isReferenceExist){
                    this.audio[i].volume = 1.0 * newValue / 100
                }
        }
    }
}
</script>
